body {
    width: 300px;
}
.title_trade {
    font-size: 16px;
    align-content: center;
}
.list {
    font-size: 14px;
    border-left: 5px;
}

.row {
    font-size: 13px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 2px;
    border-color: gray;
    border-width: 1px;
    margin-top: 5px
}
